<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="./static/images/masacupanmarkjigger.png"
      type="image/x-icon"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
      rel="stylesheet"
    />
    <!-- Bootrap CSS-->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css"
      &gt;
    />
    <title>FlaskBlog</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename= 'css/style.css')}}"
    />
    <script src="{{ url_for('static', filename= 'js/script.js')}}"></script>
  </head>

  <body class="bg-light">
    <div class="navbar bg-white navbar-light">
      <div class="container flex-wrap">
        <div class="navbar-brand me-3">
          <div class="d-flex align-items-center">
            <span class="text-success fw-light logo-text d-md-block d-none">
                <small>MJVM</small>
            </span>
          </div>
        </div>
        <ul class="nav me-auto d-none d-md-flex">
          <li class="nav-item">
            <a href="#" class="nav-link link-secondary"
              ><small>ACTIVITY 1</small></a
            >
          </li>
          <li class="nav-item">
            <a href="#products" class="nav-link link-secondary"
              ><small>ACTIVITY 2</small></a
            >
          </li>
          <li class="nav-item">
            <a href="#contact-us" class="nav-link link-secondary"
              ><small>ACTIVITY 3</small></a
            >
          </li>
        </ul>
        <div class="d-md-none d-block ms-auto">
          <button
            class="btn"
            type="button"
            data-bs-toggle="offcanvas"
            data-bs-target="#offcanvasExample"
            aria-controls="offcanvasExample"
            id="menu-btn"
          >
            <i class="bx bx-menu bx-sm"></i>
          </button>
        </div>
        <ul class="nav ms-auto me-auto me-md-0 end-menu">
          <li class="nav-item">
            <a href="#" class="nav-link link-secondary"><small>LOGIN</small></a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-success"
              ><small>REGISTER</small></a
            >
          </li>
        </ul>
      </div>
    </div>
    {% extends 'base.html' %}

    {% block content %}
        {% for post in posts %}
            <a href="{{ url_for('post', post_id=post['id']) }}">
                <h2>{{ post['title'] }}</h2>
            </a>
            <span class="badge badge-primary">{{ post['created'] }}</span>
            <a href="{{ url_for('edit', id=post['id']) }}">
                <span class="badge badge-warning">Edit</span>
            </a>
            <hr>
        {% endfor %}
    {% endblock %}
    <div
      class="offcanvas offcanvas-start"
      tabindex="-1"
      id="offcanvasExample"
      aria-labelledby="offcanvasExampleLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasExampleLabel">
          Explore Alkeen
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="nav flex-column">
          <li class="nav-item mb-3">
            <a href="#" class="nav-link link-secondary">ACTIVITY 1</a>
          </li>
          <li class="nav-item mb-3">
            <a href="#products" class="nav-link link-secondary">ACTIVITY 2</a>
          </li>
          <li class="nav-item mb-3">
            <a href="#" class="nav-link link-secondary">ACTIVITY 3</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link link-secondary">ACTIVITY 4</a>
          </li>
        </ul>
      </div>
    </div>

    <section class="hero-main position-relative bg-white">
      <!-- <div class="bg-image"></div> -->
      <div class="container">
        <div class="mb-5">
          <div class="row align-items-center">
            <div class="col-md" data-aos="fade-down">
              <div
                class="d-flex justify-content-center justify-content-md-start mb-3"
              >
                <img
                  src="./static/images/masacupanmarkjigger.png"
                  class="hero-top-img"
                  alt=""
                />
              </div>
              <h1
                class="hero-main-text text-success text-center text-md-start fw-lighter"
              >
                Masacupan, Mark Jigger V.
              </h1>
              <div
                class="d-flex align-items-center flex-wrap mb-3 justify-content-center justify-content-md-start"
              >
                <h1
                  class="hero-main-text text-center text-md-start mt-4 text-dark fw-lighter mb-5"
                >
                  BSIT 3A (WMAD)
                </h1>
                <div class="ms-lg-5 ms-md-0 ms-0">
                  <!-- <img src="./static/images/kiosk.png" width="90" alt=""> -->
                </div>
              </div>
              <div class="text-center text-md-start">
                <button
                  class="btn btn-success text-black-50 fw-light btn-lg rounded-1"
                >
                  BE MINE!
                </button>
              </div>
            </div>
            <div
              class="col-md text-center"
              data-aos="zoom-in"
              data-aos-delay="50"
            >
              <div class="row justify-content-center">
                <div class="col-md-8">
                  <img
                    src="./static/images/man-meditating-concept_23-2148508453.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          data-aos="fade-right"
          data-aos-delay="400"
          class="card shipping-card border-success mx-lg-0 mx-md-0 mx-auto border-bottom border-0 shadow-sm border-5"
        >
          <div class="card-body">
            <i class="text-center bx-lg bx bxs-truck"></i>
            <p class="mt-3">Always here for you</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="about-section bg-light pt-3 pb-5 mt-lg-2 mt-5 mt-md-5 mt-sm-5"
      id="about-us"
    >
      <div class="container">
        <p
          class="text-secondary mb-5 text-center fs-5 mt-4 fw-light"
          data-aos="fade-up"
        >
          I am not here to dispel anyone.
          <strong>I am here to study and learn.</strong>
        </p>
        <br />
        <div class="row mb-3">
          <div class="col-md-6 align-self-baseline">
            <div
              class="card border-0 rounded-0 shadow-sm"
              data-aos-delay="100"
              data-aos="zoom-in"
              data-aos-duration="500"
            >
              <div class="card-body py-5 px-lg-3 position-relative">
                <p
                  class="text-dark fs-2 fw-lighter text-center my-0 position-relative"
                >
                  <span class="card-text-quotation">"</span>
                  There are so many things that are being left unsaid
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 ms-auto">
            <div
              class="card border-0 rounded-0 shadow-sm"
              data-aos-delay="100"
              data-aos="zoom-in"
              data-aos-duration="500"
            >
              <div class="card-body py-5 px-lg-3 position-relative">
                <p
                  class="text-dark fs-2 fw-lighter text-center my-0 position-relative"
                >
                  <span class="card-text-quotation">"</span>
                  <span class="mx-3"
                    >While everyone is going through something</span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="products-section bg-white pt-4 pb-5" id="products">
      <div class="container" data-aos="fade-up">
        <p class="text-center fs-4 text-secondary mb-5">THROUGH THE YEARS</p>

        <div class="mt-3 mb-5">
          <div class="row row-cols-md-1 row-cols-1 row-cols-lg-4 gy-3">
            <div class="col">
              <div class="card product-card shadow-sm">
                <div class="card-body">
                  <img
                    src="./static/images/formal_photo.png"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card product-card shadow-sm">
                <div class="card-body">
                  <img
                    src="./static/images/100_6917.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card product-card shadow-sm">
                <div class="card-body">
                  <img
                    src="./static/images/_MG_5619 (2)!.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card product-card shadow-sm">
                <div class="card-body">
                  <img
                    src="./static/images/NV8hkIns_4x_.jpg"
                    alt=""
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="contact-us py-3 bg-dark text-light" id="contact-us">
      <div class="container mt-3" data-aos="zoom-in">
        <h3 class="mb-5">
          <i class="bx bx-phone bx-sm"></i>
          Contact Us
        </h3>
        <div class="mb-5">
          <p>If you have any queries, just contact me right away, below:</p>
          <a
            href="https://www.facebook.com/profile.php?id=100084917840029"
            class="link-success"
            target="_blank"
            rel="noopener noreferrer"
            >https://www.facebook.com/profile.php?id=100084917840029/</a
          >
        </div>
        <div class="mb-3">
          <p>For more repositories, visit my GitHub Account</p>
          <a
            href="https://github.com/markjiggermasacupan/"
            class="link-success"
            target="_blank"
            rel="noopener noreferrer"
            >https://github.com/markjiggermasacupan/</a
          >
        </div>
      </div>
    </section>
    <footer class="py-3 bg-dark text-light" id="footer">
      <div class="container" data-aos="zoom-in">
        <hr />
        <h3>Masacupan, Mark Jigger V.</h3>
        <p class="mb-4">BSIT 3A (WMAD)</p>
        <p class="">Have a Great Day!</p>

        <p class="mt-3 text-white-50">
          <i class="bx bx-copyright me-3"></i
          ><span id="copy-right-date">2022-2023</span>
        </p>
      </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
      AOS.init({
        duration: 800,
      });
    </script>
  </body>
</html>